aiosqlite
annotated-types
anyio
certifi
h11
httpcore
httptools
httpx
idna
Jinja2
MarkupSafe
orjson
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
python-dotenv
python-multipart
PyYAML
sniffio
typing_extensions
ujson
websockets
dataclasses
beautifulsoup4
termcolor
pytest
requests
requests-html
aiofiles
dateparser
pandas
python-memcached
jupyterlab
jupyterlab_pygments
jupyterlab_server
notebook
notebook_shim
PyJWT
boto3
botocore
asyncpg
aiohttp
bcrypt
redis
rejson
awscli-local
localstack-sdk-python
brotli

