aiosqlite
annotated-types
anyio
certifi
h11
httpcore
httpx
idna
orjson
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
python-dotenv
python-multipart
typing_extensions
dataclasses
beautifulsoup4
termcolor
pytest
aiofiles
dateparser
boto3
botocore
aiohttp
bcrypt
awscli-local
localstack-sdk-python
brotli
awscli

